# Pasta de configuração do Visual Studio
.vs/

# Pastas de build (bin e obj)
bin/
obj/

# Arquivos de usuário do Visual Studio
*.user
*.suo

# Logs
*.log

# Outros
/SQLQuery*.sql

# não versionar configs locais
AirControl.Api/appsettings.json
AirControl.Api/appsettings.Development.json
