# Pastas de build / Visual Studio
bin/
obj/
.vs/
Properties/

# Arquivos de solução / configs locais
*.suo
*.user
*.userosscache
*.sln.docstates

# SQLs soltos de teste
SQLQuery*.sql

# Outros comuns
node_modules/
dist/